<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="eu.kudan.kudansamples">

    <uses-feature android:name="android.hardware.camera2" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="eu.kudan.kudansamples.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths_from_me"
                tools:replace="android:resource" />

        </provider>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">

            <!--
            intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter
            -->
        </activity>
        <activity
            android:name="com.voxar.arauthtool.activities.TrackingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.voxar.arauthtool.activities.TrackingActivityFinal"
            android:screenOrientation="portrait" />
        <activity android:name="com.voxar.arauthtool.activities.BookListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.voxar.arauthtool.activities.BookActivity" />
        <activity android:name="com.voxar.arauthtool.activities.LessonActivity" />
        <activity android:name="com.voxar.arauthtool.activities.LessonItemActivity" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.voxar.arauthtool.tests.FileTest">
            <!--intent-filter android:label="ARToolFileTest">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter-->
        </activity>
    </application>

</manifest>